<div class="hero-unit">
  <p>
    Welcome to my site! I started building this site because I've been interested in learning Angular JS development for
    quite some time and figured this will be a fun project
  </p>
</div>

<div class="row">
  <div class="span3">
    <h2>My Day Job</h2>

    <p>I am a full-stack web developer working with ColdFusion, Python, and Oracle SQL on the back-end and HTML,
      JavaScript, and CSS on the front-end for a major real-estate information services firm in NYC.</p>
  </div>
  <div class="span3">
    <h2>Hobbies</h2>

    <p>Currently I am interested in dog training (Schutzhund and other protection sports) as well as playing my guitar
      and trying to improve my programming chops</p>
  </div>
  <ng-grid class="gridStyle" wrapper="span6" name="'externalLinks'" header="External Links"></ng-grid>

</div>


<div class="row">
  <ng-grid class="gridStyle" wrapper="span12" name="'technologiesUsed'" header="Technologies Used"></ng-grid>

</div>

