<div class="hero-unit">
  <h1>Schutzhund</h1>

  <p>Schutzhund is a dog sport originally created as a breed suitability test for working German Shepherd Dogs.</p>

  <p>
    You can read more information about it <a href="//en.wikipedia.org/wiki/Schutzhund">on Wikipedia</a>.<br/>
    I've been involved in the sport for 3 years now, having achieved the highest Schutzhund title (SchH3) with my first
    German Shepherd Dog <a href="//www.pedigreedatabase.com/german_shepherd_dog/dog.html?id=672582">Einstein</a>
  </p>

  <p>I created this page specifically so I can show off my beautiful obedient dog :) So feel free to browse around.
    There are pictures and some YouTube videos of us working in this amazing sport!</p>
</div>
<!--<div class="row">-->
<!--<div class="span12">-->
<!--<p>Travis Foster created this amazing video that in my opinion is the best explanation of what Schutzhund entails</p>-->
<!--<youtube code="ugI4P7sS8f4"></youtube>-->
<!--</div>-->
<!--</div>-->


<div class="container-fluid">
  <div class="row" ng-controller="YouTubeSelectorCtrl">
    <div class="span12">
      <tabset>
        <tab ng-repeat="tab in tabs" heading="{{tab.title}}" active="tab.active" disabled="tab.disabled">
          <h3>{{tab.content}}</h3>
          <youtube code="{{tab.code}}" active="{{tab.active}}"></youtube>
        </tab>
      </tabset>
    </div>
  </div>


  <!--<div class="row-fluid">-->
  <!--<div class="span2">-->
  <!--<li>Elegenace of IPO</li>-->
  <!--<li>Obedience</li>-->
  <!--<li>Protection1</li>-->
  <!--<li>Protection2</li>-->
  <!--</div>-->
  <!--<div class="span10">-->
  <!--<youtube code="PB1t5ClVglk"></youtube>-->
  <!--</div>-->
  <!--</div>-->
</div>

<!--<div class="row">-->
<!--<div class="span12">-->
<!--Of course, this wouldn't be a very fun site if I didn't include some videos of us working :)-->
<!--<div class="row">-->
<!--<div class="span6">-->
<!--<p>Below is a fun video of me and Einstein doing some obedience training</p>-->
<!--<youtube code="PB1t5ClVglk"></youtube>-->
<!--</div>-->
<!--<div class="span6">-->
<!--<p>And a nice video of us doing protection work</p>-->
<!--<youtube code="MFpxp70pLfY"></youtube>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->