<div class="hero-unit">
  <h1>Schutzhund</h1>

  <p>Schutzhund is a dog sport originally created as a breed suitability test for working German Shepherd Dogs.</p>

  <p>
    You can read more information about it <a href="//en.wikipedia.org/wiki/Schutzhund">on Wikipedia</a>.<br/>
    I've been involved in the sport for 3 years now, having achieved the highest Schutzhund title (SchH3) with my first
    German Shepherd Dog <a href="//www.pedigreedatabase.com/german_shepherd_dog/dog.html?id=672582">Einstein</a>
  </p>

  <p>I created this page specifically so I can show off my beautiful obedient dog :) So feel free to browse around.
    There are pictures and some YouTube videos of us working in this amazing sport!</p>

</div>


<div class="container-fluid" ng-controller="SchutzhundCtrl">
  <div class="row-fluid">
    <div class="span2">
      <div class="btn-group btn-group-vertical">
        <a class="btn btn-large btn-primary" ui-sref="schutzhund.pics">Pictures</a>
        <a class="btn btn-large btn-primary" ui-sref="schutzhund.videos">Videos</a>
      </div>
    </div>
    <div class="span10">
      <div ui-view></div>
    </div>
  </div>
</div>


